<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ user.name }}'s Room</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/FBI.jpeg')}}">
        {{ user.name }}'s Room
    </h2>
    <ul class="movie-list">
        <li>
            Page Not Found - 404
            <span class="float-right">
                <a href="{{ url_for('index')}}">Go Back</a>
            </span>
        </li>
    </ul>
    <footer>
        <small>&copy; 2023 <a href="https://www.baidu.com">Go to Baidu</a>
        </small>
    </footer>
</body>
</html>