<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ name }}'s Watchlist</title>
    </head>
    <body>
        <h2>{{ name }}'s page</h2>
        {# 使用 length 过滤器获取 movie 变量的长度 #}
        <p>{{ movies|length }} Titles</p>
        <ul>
            {% for movie in movies %} {# 迭代 movies 变量 #}
            <li>
                {{ movie.title }} - {{ movie.year }}
            </li>
            {% endfor %}
        </ul>
        <footer>
            <small>&copy; 2023 <a href="https://www.baidu.com">Baidu</a></small>
        </footer>
    </body>
</html>